<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Done</title>

    <!-- Bootstrap -->
    <link href="" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	
	

  </head>




<body>

<br><br>
<br><br>

<!--
<form>
	Requestors: <input type="text" name="requestor"><br>
	Cc: <input type="text" name="cc"><br>
	<br><br>
	Admin Cc: <input type="text" name="admin_cc"><br>
	Subject: <input type="text" name="subject"><br>
	<br>
	<br>
	Describe the issue below:<br>
  	<input type="text" name="ticket size="50">
	<input type="submit" style="display: none" />
</form>
-->


<p>
	%ticket_id = get('ticket_id', '');
</p>

<div class="formSteve">
    
	<form  action = "/ticket/{{ticket_id}}/comment" id = "alwaysEnableButtonForm" method="post" class="form-horizontal">

		
		<br>
		<br>
		<div class="form-group">
        	<label class="col-xs-3 control-label">Justificação:</label><br>
        	<div class="col-xs-5">
            	<!--<textarea class="form-control" name="ticket_size" rows="5"></textarea>-->
				<textarea  name="justificacao_2" rows="5"></textarea>
				
				
       		</div>
    	</div>
		<br>
		<br>
		
		<div class="form-group">
        <div class="col-xs-5 col-xs-offset-3">
			
   				<input type="submit" value="Enviar" onclick="alertMsg()" />
				
				<a href ="/">
					<input type="button" value="Cancelar" onclick="alertMsg_cancel()" />
				</a>
		
            <!--<button type="submit" onclick="alertMsg(), window.location.href='/page2'" class="btn btn-default">/</button>-->
        </div>
    </div>
		
			
		<!--<a href="/" onclick="alertMsg_cancel()">Create</a>-->
	</form>
	</div>

</div>


<script>
	function alertMsg(){
		alert("Enviado!");
	}
</script>

<script>
	function alertMsg_cancel(){
		alert("Cancelado!");
	}
</script>



