<!-- entrance summary.tpl


% result = "['Date', 'Created', 'Resolved', 'Still open'],\n"
% for day in sorted(statistics):
%   if statistics[day]:
%       result += '''["%s", %s, %s, %s],\n''' % (day,
%                                              statistics[day]["created_tickets"],
%                                              statistics[day]['team']['resolved'],
%                                              statistics[day]['team']['open'])
%   else:
%       result += '["%s", 0, 0, 0],\n' % day
%   end
% end

— importações de gráficos — perfomance

% graph_script = """
    <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
%s
        ]);

        var options = {
          title: 'Número de tickets',
          curveType: 'function',
          legend: { position: 'bottom' },
        };

        var chart = new google.visualization.LineChart(document.getElementById('performance'));

        chart.draw(data, options);
      }
    </script>
""" % result

———————————————————————

— imprtação de gráfico — mean time to resovle

% result = "['Date', 'Mean Time to Resolve', 'Time worked'],\n"
% for day in sorted(statistics):
%   if statistics[day]:
%       result += '''["%s", %s, %s],\n''' % (day,
%                                      statistics[day]['team']['mean_time_to_resolve']/60,
%                                      statistics[day]['team']['time_worked']/60)
%   else:
%       result += '["%s", 0, 0],\n' % day
%   end
% end
% graph_script += """
 <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
%s
        ]);

        var options = {
          title: 'Tempo médio de resolução vs Tempo total trabalhado (horas)',
          curveType: 'function',
          legend: { position: 'bottom' },
        };

        var chart = new google.visualization.LineChart(document.getElementById('mean_time_to_resolve'));

        chart.draw(data, options);
      }
    </script>
""" % result

—————————————————————

— isto é basicamente para fazer refresh à página, assim como apenas o rebase skin leva-te ao home, este como tem o meta-refresh apenas diz que passado 300 minutos ou segundo ou algo, quando fizer refresh perde o utilizador, tipo segurança, e tem que fazer login outra vez

% rebase('skin', meta_refresh=300)
-->


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>es — site</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,,200,300,500,700' rel='stylesheet' type='text/css'>



</head>



<body>




    
    <nav>
        <div class="imagem">
            <img src="img/menu/ic_menu_white_48dp_2x.png" alt="" style="max-width:50%">
        </div>
        <div class="imagem">
            <h1>Home</h1>
        </div>
        <div class="account">
            <img src="img/account/ic_account_circle_white_48dp_2x.png" alt="" style="max-width:50%">
        </div>
        <div class="user">
            
<!--
            % username = get('username', '')
            % if username:
            <strong>Authenticated as: {{username}}</strong>
            % end
-->

            <h1> Username </h1>
        </div>
    </nav>



    <!-- cada td é uma coluna da tabela -->

    <div class=tabela_out>
        <table class="tabela">
            <tr>
                <td align="left"><a href="/detail/dir?o={{username_id}}"><h1>DIR</h1></a>
                </td>
                <td>
                    <h1>2</h1></td>
            </tr>
            <tr>
                <td align="left"><a href="/detail/dir-inbox?o={{username_id}}"><h1>DIR-INBOX</h1></a>
                </td>
                <td>
                    <h1>3</h1></td>
            </tr>
        </table>
    </div>
    <div class="tabela_out">
        <h1>DITIC Kanban Board</h1>
        <table class="tabela">


            <tr>
                <td align="left">user</td>
                <td align="left">IN</td>
                <td align="left">ACTIVE</td>
                <td align="left">STALLED</td>
                <td align="left">R2RT</td>
                <td align="left">DONE</td>
            </tr>
            <!-- 
                % totals = { status: 0 for status in ['new', 'open', 'stalled', 'rejected', 'resolved']}
                % for email in sorted(summary):
                %   if email.startswith('dir'):
                %       continue
                %   end
                %   user = email
                %   if  email != 'unknown':
                %       user = alias[email]
                %   end

-->

            <!--                <td><a href="/detail/{{email}}?o={{username_id}}">{{user}}</a></td>-->
            <tr>

                <td>Bernardo</td>


                <!--
                %   for status in ['new', 'open', 'stalled', 'rejected', 'resolved']:
                    <td>{{summary[email][status]}}</td>
                    %       totals[status] += summary[email][status]
                    % end
                </tr>
                % end
-->
                <td align="left">2</td>
                <td align="left">235</td>
                <td align="left">24</td>
                <td align="left">1</td>
                <td align="left">52</td>
            </tr>

            <!--
            <tr>
    <td><strong>Totais</strong></td>
    % for status in ['new', 'open', 'stalled', 'rejected', 'resolved']:
    <td><strong>{{totals[status]}}</strong></td>
    % end
</tr>
-->

            <tr>
                <td>Totais</td>
                <td align="left">2</td>
                <td align="left">235</td>
                <td align="left">24</td>
                <td align="left">1</td>
                <td align="left">52</td>
            </tr>
        </table>
    </div>

    <!-- importar merdas, os gráficos e personalizar, porque eu não consgio ver aqui-->

    <table>
        <td>
            <div id="performance" style="width: 400px; height: 400px"></div>
        </td>
        <td>
            <div id="mean_time_to_resolve" style="width: 400px; height: 400px"></div>
        </td>
    </table>

<!--

    <script src="/js/jquery.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/util.js"></script>
    [if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]
    <script src="/js/main.js"></script>
-->

</body>

</html>